{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <input type="button" class="btn-gradient-3d-orange"  value="TOPにもどる" onClick="location.href='{% url 'index' %}'">    
        <table >
            <form action="{% url 'createurl' %}" method="post">
                {% csrf_token %}


                <table>
                        <tr><th>店舗名</th><td>{{form.shopname}}</td></tr>
                        <tr><th>URL</th><td>{{form.url}}</td>
                        <tr><th>場所1</th><td>{{form.shopplace1}}</td></tr>
                        <tr><th>場所2</th><td>{{form.shopplace2}}</td></tr>
                        <tr><th>場所3</th><td>{{form.shopplace3}}</td></tr>
                        <tr><th>場所4</th><td>{{form.shopplace4}}</td></tr>
                        <tr><th>場所5</th><td>{{form.shopplace5}}</td></tr>
                        <tr><th>tag1</th><td>{{form.tag1}}</td></tr>
                        <tr><th>tag2</th><td>{{form.tag2}}</td></tr>
                        <tr><th>tag3</th><td>{{form.tag3}}</td></tr>
                        <tr><th>tag4</th><td>{{form.tag4}}</td></tr>
                        <tr><th>tag5</th><td>{{form.tag5}}</td></tr>
                        <tr><th>tag6</th><td>{{form.tag6}}</td></tr>
                        <tr><th>tag7</th><td>{{form.tag7}}</td></tr>
                        <tr><th>tag8</th><td>{{form.tag8}}</td></tr>
                        <tr><th>tag9</th><td>{{form.tag9}}</td></tr>
                        <tr><th>tag10</th><td>{{form.tag10}}</td></tr>
                <tr><td></td><td><input type="submit" value="新規登録"></td></tr>            
            </form>
        </table>


        <table>
                <tr>
                    <th>店舗名</th>
                    <th>URL</th>
                    <th>場所1</th>
                    <th>場所2</th>
                    <th>場所3</th>
                    <th>場所4</th>
                    <th>場所5</th>
                    <th>tag1</th>
                    <th>tag2</th>
                    <th>tag3</th>
                    <th>tag4</th>
                    <th>tag5</th>
                    <th>tag6</th>
                    <th>tag7</th>
                    <th>tag8</th>
                    <th>tag9</th>
                    <th>tag10</th>
                </tr>
                {% for item in data %}
                    <tr>
                        <td>{{item.shopname}}</td>
                        <td>{{item.url}}</td>
                        <td>{{item.shopplace1}}</td>
                        <td>{{item.shopplace2}}</td>
                        <td>{{item.shopplace3}}</td>
                        <td>{{item.shopplace4}}</td>
                        <td>{{item.shopplace5}}</td>
                        <td>{{item.tag1}}</td>
                        <td>{{item.tag2}}</td>
                        <td>{{item.tag3}}</td>
                        <td>{{item.tag4}}</td>
                        <td>{{item.tag5}}</td>
                        <td>{{item.tag6}}</td>
                        <td>{{item.tag7}}</td>
                        <td>{{item.tag8}}</td>
                        <td>{{item.tag9}}</td>
                        <td>{{item.tag10}}</td>

                        <td><a href="{% url 'editurl' item.id %}">更新</td>
                        <td><a href="{% url 'deleteurl' item.id %}">削除</td>
                        </ul></td>
                    <tr>
                {% endfor %}
            </table>




    </body>
</html>
