{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <input type="button" class="btn-gradient-3d-orange"  value="もどる" onClick="location.href='{% url 'create' %}'">    
        <br>
        <br>
        <p-delete>※レコードを削除します。</p-delete>
        <table>
            <tr><th>main_place</th><td>{{obj.main_place}}</td></tr>
            <tr><th>place1</th><td>{{obj.place1}}</td></tr>
            <tr><th>place2</th><td>{{obj.place2}}</td></tr>
            <tr><th>place3</th><td>{{obj.place3}}</td></tr>
            <tr><th>place4</th><td>{{obj.place4}}</td></tr>
            <tr><th>place5</th><td>{{obj.place5}}</td></tr>
            <tr><th>place6</th><td>{{obj.place6}}</td></tr>
            <tr><th>place7</th><td>{{obj.place7}}</td></tr>
            <tr><th>place8</th><td>{{obj.place8}}</td></tr>
            <tr><th>place9</th><td>{{obj.place9}}</td></tr>
            <tr><th>place10</th><td>{{obj.place10}}</td></tr>

            <form action="{% url 'delete' id %}" method="post">
                {% csrf_token %}
                <tr><td></td><td><input type="submit" value="削除"></td></td>
            </form>
        </table>
    </body>
</html>