{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <input type="button" class="btn-gradient-3d-orange"  value="もどる" onClick="location.href='{% url 'createpurpose' %}'">    
        <br>
        <br>
        <p-delete>※レコードを削除します。</p-delete>
        <table>
            <tr><th>main_purpose</th><td>{{obj.main_purpose}}</td></tr>
            <tr><th>purpose1</th><td>{{obj.purpose1}}</td></tr>
            <tr><th>purpose2</th><td>{{obj.purpose2}}</td></tr>
            <tr><th>purpose3</th><td>{{obj.purpose3}}</td></tr>
            <tr><th>purpose4</th><td>{{obj.purpose4}}</td></tr>
            <tr><th>purpose5</th><td>{{obj.purpose5}}</td></tr>
            <tr><th>purpose6</th><td>{{obj.purpose6}}</td></tr>
            <tr><th>purpose7</th><td>{{obj.purpose7}}</td></tr>
            <tr><th>purpose8</th><td>{{obj.purpose8}}</td></tr>
            <tr><th>purpose9</th><td>{{obj.purpose9}}</td></tr>
            <tr><th>purpose10</th><td>{{obj.purpose10}}</td></tr>

            <form action="{% url 'deletepurpose' id %}" method="post">
                {% csrf_token %}
                <tr><td></td><td><input type="submit" value="削除"></td></td>
            </form>
        </table>
    </body>
</html>