{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <input type="button" class="btn-gradient-3d-orange"  value="もどる" onClick="location.href='{% url 'createsuggest' %}'">    
        <br>
        <br>
        <p-delete>※レコードを削除します。</p-delete>
        <table>
            <tr><th>地名</th><td>{{obj.suggest}}</td></tr>
            <tr><th>地名かな</th><td>{{obj.suggestkana}}</td></tr>

            <form action="{% url 'deletesuggest' id %}" method="post">
                {% csrf_token %}
                <tr><td></td><td><input type="submit" value="削除"></td></td>
            </form>
        </table>
    </body>
</html>