{% load static %}
<!DOCTYPE html>
<html>
<head>
        <mata charset=UTF-8>
        <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>

        <link type="text/css" rel="stylesheet"
        href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
      <script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript"
        src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>






        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/limmy.css' %}" type="text/css">
        <title>teat</title>


<script type="text/javascript">
$(function() {
  // 3候補リストに表示するデータを配列で準備
  var data = [
    'accepts',
    'action_name',
    'add',
    'add_column',
    'add_index',
    'add_timestamps',
    'after_create',
    'after_destroy',
    'after_filter',
    'all',
  ];

  // 2オートコンプリート機能を適用
  $('#txtKeywd').autocomplete({
    source: data,
    autoFocus: true,
    delay: 500,
    minLength: 2
  });
});
</script>
</head>



<body>
<!--1オートコンプリート機能を適用するテキストボックスを準備-->
<label for="txtKeywd">キーワード</label>：
<input id="txtKeywd" type="search" size="20" maxlengh="50" />
</body>
</html>