{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <input type="button" class="btn-gradient-3d-orange"  value="場所一覧画面にもどる" onClick="location.href='{% url 'createsuggest' %}'">    
        <table >
                <form action="{% url 'editsuggest' id %}" method="post">
                    {% csrf_token %}
                    <table>
                            <tr><th>地名</th><td>{{form.suggest}}</td></tr>
                            <tr><th>地名かな</th><td>{{form.suggestkana}}</td>
                    <tr><td></td><td><input type="submit" value="登録"></td></tr>            
                </form>
            </table>
        </body>
</html>