{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=UTF-8>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/limmy.css' %}" type="text/css">
        <title>teat</title>

    </head>
    <body>
        
            <div class="sentence1">1秒でベストな結果を。</div>
    <div class="sentence2">Find your best in just second</div>

        <div class="sp">
            <div class="top_pull_style container"> 
                <div class="top_psull_style1  ">
                    <select onChange="search()" id="place" class="form-control1 ">
                        <option  value="">どこで</option>
                            <optgroup label="渋谷">
                                <option  value="代官山">代官山</option>
                                <option  value="青山">青山</option>
                                <option  value="原宿">原宿</option>
                            </optgroup>
                            <optgroup label="港">
                                <option  value="芝">芝</option>
                                <option  value="赤坂">赤坂</option>
                                <option  value="麻布">麻布</option>
                            </optgroup>
                    </select>
                </div>
    
                <div class="top_psull_style2  ">
                    <select onChange="search()" id="purpose" class="form-control2 "　>
                        <option  value="">なにを</option>
                            <optgroup label="美容院">
                                <option  value="カット">カット</option>
                                <option  value="ヘアカラー">ヘアカラー</option>
                                <option  value="トリートメント">トリートメント</option>
                            </optgroup>
                            <optgroup label="喫茶店">
                                <option  value="電源あり">電源あり</option>
                                <option  value="WiFiあり">WiFiあり</option>
                                <option  value="ペット同伴OK">ペット同伴OK</option>
                            </optgroup>
                    </select>
                </div>
                <div href="#" class="btn-square-pop">検索</div>
            </div>
            <div id="loading" ><img id="gifobj" src="" /></div>
                <p id="saikounokekka" class="" style=""></p>
            </div>

        <!-- 二つなにかをセットされたらロード中gif画像を表示させるスクリプト -->
        <script>
            function search() {
                if (document.getElementById('place').value !== "" && document.getElementById('purpose').value !== "" ) {
                    outputgif();
                    setTimeout(loadstart, 5000);
                }
            }
            function loadstart(){
                location.href='{% url 'find' %}'
            }
            
            function outputgif(){
                document.getElementById("gifobj").src = "{% static 'img/gif-load.gif' %}";;
                var elm = document.getElementById("saikounokekka");
                elm.classList.add("saikounokekka");
                elm.textContent = '最高の結果をロード中';
            }            
       </script>    
    </body>    
</html>


    
