{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=UTF-8>
        <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/limmy.css' %}" type="text/css">
        <title>teat</title>

    </head>
    <body>
            <div class="sentence1">1秒でベストな結果を。</div>
    <div class="sentence2">Find your best in just second</div>

        <div class="sp">
            <div class="top_pull_style container"> 
                <div class="top_psull_style1  ">
                        <div class="btn-select">
                                <p class="label1">どこで</p>
                                <select onchange="search()" id="place" class='select1'>
                                  <option value=''>どこで</option>
                                  <optgroup label="渋谷">
                                  <option value='1'>青山</option>
                                  <option value='2'>代官山</option>
                                  <option value='3'>原宿</option>
                                </optgroup>
                                </select>
                                </label>
                                </div>
                </div>

                <div class="top_psull_style2  ">
                        <div class="btn-select">
                                <p class="label2">なにを</p>
                                <select onchange="search()" id="purpose" class='select2'>
                                  <option value=''>なにを</option>
                                  <optgroup label="美容院">
                                  <option value='1'>ヘアカット</option>
                                  <option value='2'>ヘアカラー</option>
                                  <option value='3'>トリートメント</option>
                                  </optgroup>
                                </select>
                                </label>
                                </div>
                </div>
                <div href="#" class="btn-square-pop">検索</div>
            </div>
            <div id="loading" ><img id="gifobj" src="" /></div>
                <p id="saikounokekka" class="" style=""></p>
            </div>

        <!-- 二つなにかをセットされたらロード中gif画像を表示させるスクリプト -->
        <script>
            function search() {
                if (document.getElementById('place').value !== "" && document.getElementById('purpose').value !== "" ) {
                    outputgif();
                    setTimeout(loadstart, 5000);
                }
            }
            function loadstart(){
                location.href='https://www.azabu-hairsalon.com/'
            }
            
            function outputgif(){
                document.getElementById("gifobj").src = "{% static 'img/gif-load.gif' %}";;
                var elm = document.getElementById("saikounokekka");
                elm.classList.add("saikounokekka");
                elm.textContent = '最高の結果をロード中';
            }            
       </script>    

<script>    
// selectと同じようにonchangeでラベルを変えたいときはJSを用いる
$('.select1').on('change', function(){
  var $this = $(this)
  var $option1 = $this.find('option:selected');
  $('.label1').text($option1.text());
  // onchange後にフォーカスしてるのが嫌な場合
  $this.blur();
});

$('.select2').on('change', function(){
  var $this = $(this)
  var $option1 = $this.find('option:selected');
  $('.label2').text($option1.text());
  // onchange後にフォーカスしてるのが嫌な場合
  $this.blur();
});


</script>    



    </body>    
</html>


    
