{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=UTF-8>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>        <link type="text/css" rel="stylesheet"
        href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
        <script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"
        src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/limmy.css' %}" type="text/css">
        <title>top</title>
    </head>
    <body>
        <div class="sentence1">1秒でベストな結果を。</div>
        <div class="sentence2">Find your best in just second</div>
        <div class="sentence2sp">Find your best in just second</div>
        <form action="{% url 'findurl' %}" onsubmit="return search()" name="myForm" method="post">
            {% csrf_token %}
            <div class="top_pull_style container"> 
                <div class="btn-select1">
                    <input id="place"  onfocus="clearstr(this.id);" value="どこで" name="place" size="20" maxlengh="50" class="label1" />                               
                </div>

                <div class="btn-select2">
                    <input id="purpose" onfocus="clearstr(this.id);" value="なにを" name="purpose" size="20" maxlengh="50" class="label2" />                                
                </div>

                <button onclick="submitt(); search();" type="button" class="btn-square-pop">検索</button >
                <div class="mainbox container">
                <div class="container" id="loading" ><img id="gifobj" src="" /></div>
                <p class="container" id="saikounokekka" class="" style=""></p>
            </div>
        </form>
        <div id="fadeLayer"></div>
    </body>

    <!--ブランクチェック-->
    <script>
        function search() {
            if (document.getElementById('place').value == "" || document.getElementById('place').value == "どこで" ) {
                Swal.fire({
                    type:"warning",
                        title: "場所はどちらですか？",
                        text: "",
                });
            } else if(document.getElementById('purpose').value == "" || document.getElementById('purpose').value == "なにを" ) {
                Swal.fire({
                    type:"warning",
                    title: "何をされますか？",
                    text: "",
                });
            } 
        }

        function submitt() {
            if ( document.getElementById('place').value !== "どこで") {
                if(document.getElementById('place').value !== "" ){
                    if(document.getElementById('purpose').value !== "なにを"){
                        if(document.getElementById('purpose').value !== ""){
                            var target = document.getElementById("fadeLayer");
                            target.style.visibility = "visible";
                            outputgif();
                            setTimeout(loadstart, 5000);
                        }
                    }
                }
            }
        }
        function loadstart(){
          document.myForm.submit();
        }
    </script>

    <!--フォーカス時テキストエリアクリア処理-->
    <script>
        function clearstr(elm) {
            var elm = document.getElementById(elm);
            elm.value = '';
        };
    </script>

    <!-- 二つなにかをセットされたらロード中gif画像を表示させるスクリプト -->
    <script>

        function outputgif(){
            document.getElementById("gifobj").src = "/static/img/gif-load.gif";;
            var elm = document.getElementById("saikounokekka");
            elm.classList.add("saikounokekka");
            elm.textContent = '最高の結果をロード中';
        }
    </script>

    <!--サジェスト機能-->
    <script type="text/javascript">
        var placeData = [
            {% for item in data %}
            ['{{item.suggestkana}}', '{{item.suggest}}'],
            {% endfor %}
        ];
    $(function() {

    // 2オートコンプリート機能を適用
        $('#place').autocomplete({
            source: function(request, response) {
                var re   = new RegExp('^(' + request.term + ')'),
                    list = [];
                    $.each(placeData, function(i, values) {
                        if(values[0].match(re) || values[1].match(re)) {
                        list.push(values[1]);
                    }
                });
                response(list);},
                autoFocus: true,
                delay: 500,
                minLength: 2
            });
        });
    </script>
</html>
