{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=UTF-8>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>        <link type="text/css" rel="stylesheet"
        href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
        <script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"
        src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/limmy.css' %}" type="text/css">
        <title>result</title>
    </head>
    <body>











        <table>
            <tr>
                <th>店舗名</th>
                <th>URL</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item.shopname}}</td>
                <td>{{item.url}}</td>

                </ul></td>
            <tr>
        {% endfor %}
    </table>
    </body>
</html>
