{% load static %}
<!doctype html>
<html lang=ja>
    <head>
        <mata charset=UTF-8>
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />

        <title>result</title>
    </head>
    <body>
        <table border="">
            <tr>
                <th>店舗名</th>
                <th>URL</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item.shopname}}</td>
                <td>{{item.url}}</td>
                </ul></td>
            <tr>
            {% endfor %}
        </table>
    </body>
</html>
